@charset "utf-8";
@import url('upload_form.css');

/*layout fix*/
#footer {
	margin-top: -92px;
}
/*/*/

#error {
	display: block;
	padding-bottom: 10px;
	color: red;
	font-weight: bold;
	font-size: 18px;
}

.highlight { 
	background: #fff7c0;
}